<meta charset="UTF-8">
<div>
	<div ng-switch="local()">
	  <div ng-switch-when="1">
	  	<table class="table table-striped">
            <thead>
	            <tr>
	                <th class="c1">Código</th>
	                <th class="c2">Descrição</th>
	                <th class="c2">Localização</th>
	                <th></th>
	            </tr>
            </thead>
            <tbody>
				<tr ng-repeat="loja in vm.produto.lojas">
					<td>{{loja.codigo}}</td>
					<td>{{loja.descricao}}</td>
					<td><button type="button" ng-click="remover(loja.codigo)" class="glyphicon glyphicon-remove"></button></td>
				</tr>
			</tbody>
        </table>
	  </div>
	  <div ng-switch-default>
	  	<table class="table table-striped">
            <thead>
	            <tr>
	                <th class="c1">Código</th>
	                <th class="c2">Descrição</th>
	                <th></th>
	            </tr>
            </thead>
            <tbody>
	            <tr ng-repeat="loja in vm.produto.lojas">
	            	<td>{{loja.codigo}}</td>
	                <td>{{loja.descricao}}</td>
	                <td><button type="button" ng-click="remover(loja.codigo)" class="glyphicon glyphicon-remove"></button></td>
	            </tr>
            </tbody>
        </table>
	  </div>
	</div>
    <hr/>
</div>
