<div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="c1">Produto</th>
                <th class="c2">Quantidade</th>
                <th class="c2">Preco</th>
                <th class="c2">Total</th>
            </tr>
            </thead>
            <tbody>
<!--             <tr ng-repeat="loja in lojas"> -->
<!--                 <td>{{loja.descricao}}</td> -->
<!--             </tr> -->
            </tbody>
        </table>
    </div>

    <hr/>
</div>
