<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Produto</title>
</head>
<body>
    <h3>Adicionar Produto</h3>
    <hr />

    <form ng-submit="vm.salvarProduto()">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Código</td> 
                    <td><input ng-model="vm.produto.codigo" type="text" required /></td> 
                </tr>
                <tr>
                    <td>Descrição</td> 
                    <td><input ng-model="vm.produto.descricao" type="text" required /></td> 
                </tr>
                <tr>
                    <td>Valor</td> 
                    <td><input ng-model="vm.produto.valor" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" type="number" required /></td> 
                </tr>                
            </tbody>
        </table>
        <div id="espaco"></div>
        <h4>Lojas</h4>
   		<hr />
   		<label>Código</label> 
        <input type="text" ng-model="post.codigo"/>
        <button type="button" ng-click="vm.buscar(post.codigo)" class="btn btn-primary botao">Buscar</button>
   		<div ng-show="vm.produto.lojas.length > 0"> 
		  	<table class="table table-striped">
	            <thead>
		            <tr>
		                <th class="c1">Código</th>
		                <th class="c2">Descrição</th>
		                <th></th>
		            </tr>
	            </thead>
	            <tbody>
		            <tr ng-repeat="loja in vm.produto.lojas">
		            	<td>{{loja.codigo}}</td>
		                <td>{{loja.descricao}}</td>
		                <td><button type="button" ng-click="vm.remover(loja.codigo)" class="glyphicon glyphicon-remove"></button></td>
		            </tr>
	            </tbody>
	        </table>
	  	</div>
        <button type="submit" class="btn btn-primary pull-right">Enviar</button>
    </form>
</body>
</html>
