<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/auth">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h3>Login</h3>
    <hr />

    <form ng-submit="vm.login()">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Email</td> 
                    <td><input ng-model="vm.usuario.email" type="email" required /></td> 
                </tr>
                <tr>
                    <td>Senha</td> 
                    <td><input ng-model="vm.usuario.senha" type="password" required /></td> 
                </tr>                
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary pull-right">Enviar</button>
    </form>
</body>
</html>
