@CHARSET "UTF-8";

.c1{
	width: 10%;
}

.c2{
	width: 20%;
}

.c3{
	width: 30%;
}

.input40{
	width: 40%;
}

.input50{
	width: 50%;
}

.botao {
	margin-left: 5px;
}

.botaosair {
	margin-top: 8px;
}

#espaco{
	padding-bottom: 50px;
}